/* common styling end */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  line-height: 0.8;
}

/* common styling end */

/* navbar section start */
.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 18px;
}

.navbar-menu {
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin: 15px;
}
.navbar-button p {
  border-radius: 18px;
  background: #8454f5;
  font-family: "Nunito", serif;
  font-size: 18px;
  font-weight: 600;
  padding: 25px 30px;
  color: white;
}
/* navbar section end */

/* banner section start */
#banner {
  background: url(../img/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 281px;
  padding-bottom: 256px;
}
.banner-text h1 {
  color: #1d354f;
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
}
.banner-text p {
  color: #29313d;
  line-height: 200%;
  margin-top: 50px;
}
.banner-button p {
  display: inline-block;
  border-radius: 18px;
  background: #8454f5;
  font-family: "Nunito", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 0.8;
  padding: 25px 40px;
  margin-top: 68px;
  color: white;
}
/* banner section end */

/* service section start */
.service-text h3 {
  margin-top: 110px;
  margin-bottom: 110px;
  font-family: "Poppins", serif;
  font-weight: 600;
  color: #29313d;
  font-size: 48px;
}
.service-div-item-box {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background: #c4c4c4;
}
.service-div-item h4 {
  margin-top: 33px;
  margin-bottom: 27px;
  font-size: 28px;
  font-family: "Poppins", serif;
  color: #29313d;
}
.service-div-item p {
  font-family: "Nunito", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 36px;
  color: #29313d;
}
.service-div-item a p {
  font-family: "Nunito", serif;
  color: #29313d;
  font-size: 16px;
  font-weight: 700;
}
.service-div {
  margin-bottom: 100px;
}
/* service section end */

/* product section start */
.product-margin {
  margin: 100px 0px;
}
.product-image-back {
  position: relative;
}
.product-image-back-item {
  position: absolute;
}
.product-image-item {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.product-text h3 {
  width: 601px;
  font-size: 48px;
  font-weight: 600;
  line-height: 140%;
  font-family: "Poppins", serif;
  color: #29313D;
}
.product-text p {
  width: 488px;
  font-weight: 18px;
  font-weight: normal;
  line-height: 200%;
  color: #29313D;
  font-family: "Nunito", serif;
}
.product-text-div {
  margin-top: 50px;
}
.product-text-div-box {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background: #c4c4c4;
}
.product-text-div-item h4 {
  margin-top: 33px;
  margin-bottom: 27px;
  font-size: 28px;
  font-family: "Poppins", serif;
  color: #29313d;
}
.product-text-div-item p {
  font-family: "Nunito", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 36px;
  color: #29313d;
  width: 268px;
}
.product-text-div-item a p {
  font-family: "Nunito", serif;
  color: #29313d;
  font-size: 16px;
  font-weight: 700;
}
/* product section end */
/* toiny change */